@charset "utf-8";
/* CSS Document */


.icon1{background-image:url(../images/blockchain-development/1.svg);}
.icon2{background-image:url(../images/blockchain-development/2.svg);}
.icon3{background-image:url(../images/blockchain-development/3.svg);}
.icon4{background-image:url(../images/blockchain-development/4.svg);}
.icon5{background-image:url(../images/blockchain-development/5.svg);}
.icon6{background-image:url(../images/blockchain-development/6.svg);}


.di-icon1{background-image:url(../images/blockchain-development/digital-identity/1.svg);}
.di-icon2{background-image:url(../images/blockchain-development/digital-identity/2.svg);}
.di-icon3{background-image:url(../images/blockchain-development/digital-identity/3.svg);}
.di-icon4{background-image:url(../images/blockchain-development/digital-identity/4.svg);}
