@charset "utf-8";
/* CSS Document */


.graphicdesign{background-image:url(../../images/design/designconsulting/graphicdesign.svg);}
.logodevelopment{background-image:url(../../images/design/designconsulting/logodevelopment.svg);}
.uxuidesign{background-image:url(../../images/design/designconsulting/uxuidesign.svg);}
.visualbranding{background-image:url(../../images/design/designconsulting/visualbranding.svg);}

