@charset "utf-8";
/* CSS Document */


.multimedia{background-image:url(../../images/design/graphicdesign/multi-mediacompatibility.svg);}
.futureproof{background-image:url(../../images/design/graphicdesign/future-proofflexibility.svg);}
.instantcredibility{background-image:url(../../images/design/graphicdesign/instantcredibility.svg);}

