@charset "utf-8";
/* CSS Document */

.seo{background-image:url(../../images/digital-marketing/seo.svg);}
.smm{background-image:url(../../images/digital-marketing/smm.svg);}
.ac{background-image:url(../../images/digital-marketing/ac.svg);}
.sb{background-image:url(../../images/digital-marketing/sb.svg);}
.sa{background-image:url(../../images/digital-marketing/sa.svg);}
.ga{background-image:url(../../images/digital-marketing/ga.svg);}
.ee{background-image:url(../../images/digital-marketing/ee.svg);}
.bi1{background-image:url(../../images/digital-marketing/1bi.svg);}
.mu100{background-image:url(../../images/digital-marketing/100mu.svg);}

