@charset "utf-8";
/* CSS Document */

.its{background-image:url(../../images/ios-development/apple-watch-apps/its.svg);}
.ktc{background-image:url(../../images/ios-development/apple-watch-apps/ktc.svg);}
.dts{background-image:url(../../images/ios-development/apple-watch-apps/dts.svg);}

